/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #8B0000;
}

/* Style the links inside the navigation bar */
.topnav a {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 20px;
  transition: 0.3s;
  color: #ffffff;
  font-size: 20px;
  border-bottom: 4px solid #b22222;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffb7d2;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #5fe0e2;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
